#header {
  position: fixed;
  height: 100px;
  background-color: orange;
}

#header-img {
  height: 50px;
  width: 50px;
}

#agile {
  margin-top: 50px;
}

#furry {
  color: red;
}

.flex {
  display: flex;
}

@media (max-width: 800px) {
  .flex {
    display: block;
  }
}
