#header {
  position: fixed;
  height: 100px;
}

#header-img {
  height: 100px;
}

#elevate {
  color: red;
}

.flex {
  display: flex;
}

@media (max-width: 800px) {
  .flex {
    display: block;
  }
}
